.footer {
  padding: 70px 0 100px;
  background-image: url('../img/content/young-green-grass-1.png');
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;

  @include vp-767 {
    padding: 25px 0 50px;
  }
}

.footer__wrapper {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}

.footer__item {
  text-align: center;
}

.footer__item p {
  font-size: 18px;
  margin: 0 0 10px 0;
}