.gallery {
    padding: 70px 0;
    position: relative;
    background: linear-gradient(90deg, #c5efc9 1%, rgba(245, 252, 245, 1) 35%, rgba(233, 247, 233, 1) 77%, #c5efc9 100%);

    @include vp-767 {
        padding: 40px 0;
    }
}

.gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.gallery__link {
    position: relative;
    border-radius: 10px;
}

.gallery__link img {
    border-radius: 10px;
}

.gallery__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 122, 122, 0.5);
    background-image: url('../img/svg/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 10px;
}

.gallery__link:hover.gallery__link::before {
    opacity: 1;
}