.intro {
    padding: 70px 0;
    background: linear-gradient(90deg, rgba(169, 221, 173, 1) 1%, rgba(245, 252, 245, 1) 35%, rgba(233, 247, 233, 1) 77%, rgba(169, 221, 173, 1) 100%);

    @include vp-767 {
        padding: 40px 0;
    }
}

.intro__swiper {
    position: relative;
    overflow: hidden;
}

.intro__block {
    display: flex;
    min-height: 0;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 25px;

    @include vp-767 {
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 10px 5px;
    }
}

.intro__item-pictures {
    position: relative;

    @include vp-767 {
        order: 1;
        height: 250px;
    }
}

.intro__item-img {
    position: absolute;
    top: 60px;
    left: -85px;
    width: 530px;
    height: 530px;
    background-color: $color-placeholder;
    box-shadow: rgba(50, 50, 93, .25) 0 6px 12px -2px, rgba(0, 0, 0, .3) 0 3px 7px -3px;

    @include vp-767 {
        position: static;
        height: 100%;
        border-radius: 10px;
    }

    @include vp-575 {
        width: 100%;
    }
}

.intro__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include vp-767 {
        border-radius: 10px;
    }
}

.intro__item-descriptions {
    max-width: 550px;
    padding: 45px 120px 35px 35px;
    background-color: #fff;
    min-height: 650px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 25px;

    @include vp-767 {
        min-height: auto;
        margin-top: 15px;
        order: 2;
    }

    @include vp-575 {
        padding: 35px 30px 35px 30px;
    }
}