.logo {
  @include vp-1200 {
    margin-bottom: 50px;
  }
}

.logo__link {
  color: $color-default-white;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  user-select: none;
  position: relative;
  padding-left: 30px;

  span {
    color: $color-light-green;
  }
}

.logo__link::before {
  content: '';
  position: absolute;
  padding: 0;
  top: -15px;
  left: -0;
  width: 40px;
  height: 40px;
  background-image: url('../img/content/clever.png');
  background-repeat: no-repeat;
  background-size: cover;
}