.reviews {
    padding: 100px 0;
    background-color: $color-placeholder;

    @include vp-767 {
        padding: 40px 0;
    }
}

.reviews__wrapper {
    margin-top: 80px;
    position: relative;
    padding: 0 50px;
}

.reviews-item__header {
    display: flex;
    align-items: center;
}

.reviews-item__block {
    margin-left: 30px;
}

.reviews-item__name {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.reviews-item__description {
    margin: 0;
}

.reviews-item__img img {
    border-radius: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -50px;
}

.swiper-button-prev,
.swiper-button-next {
    color: $color-green;
}

.reviews .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
}

.reviews .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-green;
}

.reviews__cringe {
    margin-top: 100px;
}

.reviews__cringe-wrapper {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 25px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.reviews__cringe-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: -6px;
    width: 142px;
    height: 417px;
    background-image: url('../img/buble-1.png');
    background-repeat: no-repeat;
}

.reviews__cringe-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 482px;
    background-image: url('../img/buble-2.png');
    background-repeat: no-repeat;
}

.reviews__cringe-text {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.reviews__cringe-title {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 15px 0;
    font-weight: 500;
    color: $color-green;
    text-align: center;
}