.services {
    padding: 100px 0;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.services__sticky {
    position: sticky;
    top: 100px;
}

.services__descriptions p {
    margin: 0 0 20px 0;
    padding-right: 20px;
    font-size: 18px;
}

.services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.services__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__item-img {
    background-color: $color-placeholder;
    margin-bottom: 15px;
    border-radius: 10px;
}

.services__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}