.services {
    padding: 100px 0;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    @include vp-1023 {
        grid-template-columns: 1fr;
    }
}

.services__sticky {
    position: sticky;
    display: block;
    top: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.services__descriptions p {
    margin: 0 0 20px 0;
    padding-right: 20px;
    font-size: 18px;
}

.services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include vp-575 {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.services__item {
    box-shadow: rgba(37, 94, 15, 0.24) 0px 3px 8px;
}

.services__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 10px;
}

.services__item-inner p {
    margin: 0;
    font-size: 18px;
}

.services__item-img {
    background-color: $color-placeholder;
    margin-bottom: 15px;
    overflow: hidden;
}

.services__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.services__item-img:hover {
    img {
        transform: scale(1.1);
    }
}