.title {
    @include adaptiv-value("font-size", 36, 26, 0);
    line-height: 1.2;
    margin: 0;
    @include adaptiv-value("margin-bottom", 30, 15, 0);
    color: $color-shaft;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    color: $color-green;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-light-green;
}

.title--h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
}